$theme: 'light';

$red: #ed333b;
$green: #33d17a;
$blue: #3584e4;
$yellow: #f6d32d;
$magenta: #9141ac;
$teal: #33b2a4;
$orange: #ffa348;

$bg_color: #FFFFFF;
$fg_color: #1f1f1f;
$hover_fg: #1f1f1f;
$accent_fg: #1f1f1f;
$red_gradient:radial-gradient(circle, rgba(246,97,81,1) 15%, rgba(246,97,81,1) 30%, rgba(24,24,24,1) 40%, rgba(24,24,24,1) 60%, rgba(246,97,81,1) 74%, rgba(246,97,81,1) 100%); 

