@define-color foreground #c4a59d;
@define-color background #0E1416;
@define-color cursor #c4a59d;

@define-color color0 #0E1416;
@define-color color1 #4D3229;
@define-color color2 #664B3F;
@define-color color3 #99351F;
@define-color color4 #A04C32;
@define-color color5 #D65234;
@define-color color6 #E35529;
@define-color color7 #c4a59d;
@define-color color8 #89736d;
@define-color color9 #4D3229;
@define-color color10 #664B3F;
@define-color color11 #99351F;
@define-color color12 #A04C32;
@define-color color13 #D65234;
@define-color color14 #E35529;
@define-color color15 #c4a59d;
* {
  transition: 0.2s;
}

window {
	font-family: "FiraCode Nerd Font Mono";
	font-size: 13px;
}

window {
    margin: 0px;
    background-color: transparent;
    border-radius: 10px;
}

#input {
    padding: 4px;
    margin: 20px;
    padding-left: 20px;
    border: none;
    color: @foreground;
    font-weight: bold;
    background: linear-gradient(70deg, @color1, @color2);
    animation: gradient_f 7s linear infinite;
   	outline: none;
    border-radius: 10px;
}


#inner-box {
    margin: 20px;
    margin-top: 0px;
    border: none;
    color: @foreground;
    border-radius: 10px;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 0px;
    border: none;
    padding: 0px;
    border-radius: 10px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

#text:selected {
    color: #fff;
    font-weight: bold;
}

#img {
    margin-right: 20px;
    background: transparent;
}

#text {
    margin: 0px;
    border: none;
    padding: 0px;
    background: transparent;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    min-height:32px;
    font-weight: bold;
}

#entry:selected {
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 10px;
    background: @color1;
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
