@define-color foreground #eef0e0;
@define-color background #151c11;
@define-color cursor #eef0e0;

@define-color color0 #151c11;
@define-color color1 #A87A8B;
@define-color color2 #B8B097;
@define-color color3 #B9C89A;
@define-color color4 #E4E29F;
@define-color color5 #C9D7AD;
@define-color color6 #DDDECC;
@define-color color7 #eef0e0;
@define-color color8 #a6a89c;
@define-color color9 #A87A8B;
@define-color color10 #B8B097;
@define-color color11 #B9C89A;
@define-color color12 #E4E29F;
@define-color color13 #C9D7AD;
@define-color color14 #DDDECC;
@define-color color15 #eef0e0;
* {
  transition: 0.2s;
}

window {
	font-family: "FiraCode Nerd Font Mono";
	font-size: 13px;
}

window {
    margin: 0px;
    background-color: transparent;
    border-radius: 10px;
}

#input {
    padding: 4px;
    margin: 20px;
    padding-left: 20px;
    border: none;
    color: @foreground;
    font-weight: bold;
    background: linear-gradient(70deg, @color1, @color2);
    animation: gradient_f 7s linear infinite;
   	outline: none;
    border-radius: 10px;
}


#inner-box {
    margin: 20px;
    margin-top: 0px;
    border: none;
    color: @foreground;
    border-radius: 10px;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 0px;
    border: none;
    padding: 0px;
    border-radius: 10px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

#text:selected {
    color: #fff;
    font-weight: bold;
}

#img {
    margin-right: 20px;
    background: transparent;
}

#text {
    margin: 0px;
    border: none;
    padding: 0px;
    background: transparent;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    min-height:32px;
    font-weight: bold;
}

#entry:selected {
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 10px;
    background: @color1;
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
